.HeaderRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.5rem;
}

.nav {
  list-style: none;
  display: flex;
  width: 10%;
  justify-content: space-between;
}

.active-link {
  text-decoration: none;
}